<footer class="footer">
  <div class="footer__logo">
    <a routerLink="/" class="footer__logo-link">
      <span class="navbar__logo-icon">M</span>
      <span class="navbar__logo-text">MiColonia.com</span>
    </a>
  </div>

  <div class="footer__columns">
    <div class="footer__column">
      <h4>Navegación</h4>
      <a routerLink="/catalogo">Catálogo</a>
      <a routerLink="/laboratorio">Laboratorio</a>
    </div>

    <div class="footer__column">
      <h4>Soporte</h4>
      <a routerLink="/privacidad">Privacidad</a>
      <a routerLink="/contacto">Contacto</a>
      <a routerLink="/glosario">Glosario</a>
    </div>
  </div>
</footer>
